.full-width {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.mat-dialog-container {
  max-width: 90vw;
  width: auto;
  min-height: 300px;
}

.readonly-wrapper {
  cursor: not-allowed;
}

.readonly-wrapper .readonly-block {
  pointer-events: none;
}
