mat-table {
  margin: 20px auto;

}

mat-paginator {
  margin: 16px 0;
  width: 100%;
}

.mat-column-content {
  width: 70%;
}

.mat-column-timestamp {
  width: 20%;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px;
}
